h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 50px;
}

.weather-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-left: 60px;
}

.weather-card {
  width: calc(33.33% - 15px); /* Membagi lebar kartu untuk tampil 4 kolom */
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.weather-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.weather-card .btn {
  margin-top: auto;
}

.pagination-controls {
  margin-top: 20px;
}

.pagination-controls button {
  padding: 8px 16px;
}
